/*
* {
  border:1px solid blue;
}*/


body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.contact-grid,
.education-entry-grid,
.work-entry-grid,
.project-entry-grid,
.certification-entry-grid {
  margin: 0 auto;
  padding-top:1%;
  padding-bottom:1%;
}


h1 {
  font-size: 40px;
  color: #f5a623;
  /*4242d7;*/
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

.role-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.p-work {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
}




a {
  color: #1199c3;
  text-decoration: none;
  display: block;
  font-size:large;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
  /*4242d7;*/
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #000000;
  /*484848;*/
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.navbar {
  align-content: center;
  text-align: center;
  background-color: black;
  color: white;
  margin: 2% 1%;
  padding: 5px 0;
  font-family: 'Raleway', sans-serif;
}

.navbar:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}


.navbar-grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;


}

.work-entry-grid {
  margin: 0 auto;
  padding-top:1%;
  padding-bottom:1%;
}


.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row-courses{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {width: 8.33%; text-align: center;}
.col-2 {width: 16.66%; text-align: center;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%; text-align: center;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-5-work {
  width: 41.66%;
  float: left;
  vertical-align: top;
}

.col-4-work {
  width: 33.33%;
  float: left;
  vertical-align: top;
}

.job-title-color {
  color: #0000e6;
}

.col-6-course {
  width: 50%;
  text-align: left;
}


.course-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    border: 0px solid #b3b3b3;
    border-radius: 7px;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#f3f3f3));
    background: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
    background: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
    font: normal normal bold 5px arial;
    color: #111111;
    text-decoration: none;
}
.course-btn:hover,
.course-btn:focus {
    border: 0px solid #ffffff;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #111111;
    text-decoration: none;
}
.course-btn:active {
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#fffaff));
    background: -moz-linear-gradient(top, #b3b3b3, #fffaff);
    background: linear-gradient(to bottom, #b3b3b3, #fffaff);
}
.course-btn:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -3px;
    left: 3px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAf0lEQVRIie3SwQrCMBCE4a9SSvDoO4jv/zw+gSgeSxCJXhooFjzI5mR+yG2Z2ZkNnU4ECVe8gt8FaVxMMubgxTMMqxS7YINSTZrymaCmKAHaBXlYxM84BIiuueMY3fuGWtGE8dvgDzzxCNbc0vybtjzyDafa+4R9sEEK1uv8LW/mfyXv0tEAhgAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

